/* For a constant (move) */
.channel--article-style {
  padding: 0;
  margin: 0 auto;
  width: 100%;

  &_title {
    font-weight: 300;
    margin: 0;
    padding: 0.5rem 0;
    line-height: 1.25em;
    &__big {
      font-size: 1.5rem;
      @media screen and (min-width: 1024px) {
        font-size: 2rem;
      }
    }
    &__medium {
      font-size: 1.3rem;
    }
    &__small {
      font-size: 1.2rem;
    }
    a {
      display: block;
      text-decoration: none;
      color: #000;
      font-weight: 700;
      letter-spacing: -0.02em;
      line-height: 1.2;
      font-family: 'Merriweather', sans-serif !important;
    }
  }

  figure {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__metas {
    span {
      font-size: 0.75rem;
      line-height: 1.25em;
      i {
        font-size: 0.95rem;
      }
    }
  }
}

.channel {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  position: relative;

  &--layout {
    &__left {
      margin: 0 auto 5em;
    }
  }

  /* For a constant (move) */
  &--header {
    display: grid;
    grid-template: 1fr / repeat(1, 1fr);
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
      grid-template: 1fr / repeat(12, 1fr);
      padding: 0;
    }

    h2 {
      font-size: 2rem;
      align-items: center;
      display: flex;
      padding: 0;
      margin: 0 auto 2em;
      border-bottom: 1px solid #111;
      grid-column: 1;
      width: 90%;

      @media screen and (min-width: 768px) {
        font-size: 1.25rem;
        grid-column: 1 / span 12;
        margin: 0 0.25em 2em;
        width: 100%;
      }

      a {
        transform: skewX(0deg) !important;
        background: none;
        color: #1f2936;
        padding: 0 0 0.75em 0;
        font-size: 1.2rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
      }
    }
  }
  &--content {
    display: grid;
    grid-template: 1fr / repeat(1, 1fr);
    margin: 0;
    padding: 0;
    grid-gap: 1.25em;
    height: 100%;
    @media screen and (min-width: 768px) {
      grid-template: 1fr / repeat(12, 1fr);
    }

    &-first {
      grid-column: 1;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      @media screen and (min-width: 768px) {
        grid-column: 1 / span 8;
      }
 
      &__main {
        margin: 0 auto 1.25em;
      }

      &__more {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        article {
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          margin: 0.75em auto;
          padding: 0;

          @media screen and (min-width: 1024px) {
            width: calc(100% / 2);
          }

          h3 {
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: -0.02em;
            line-height: 1.2;
            font-family: 'Merriweather', sans-serif !important;
          }

          figure {
            width: 50%;
            margin: 0 0.75em 0.75em 0;
            padding: 0;
          }
        }
        &__article_info {
          width: 45%;
          margin: 0;
          padding: 0;
        }
      }
    }
    &-second {
      grid-column: 1;
      position: relative;
      top: 0;
      height: 100%;
      display: block;
      @media screen and (min-width: 768px) {
        grid-column: 9 / span 4;
      }


      .channel--sticky {
        position: relative;
        top: 0;
        transition: all 0.3s ease;

        @media screen and (min-width: 768px) {
          position: sticky;
          top: 3.5em;
        }
      }

      &__articles {
        margin: 0 auto 1.25em;
      }
    }
  }
}
