/* Nur Gnosis */

.i--d {
  display: none;
}

.f4_module-wrap {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.f4_title {
  font-family: $fontTitle;
  font-weight: 400;
}

.f4_metas {
  padding: 0.7em 0;
  font-size: 0.7rem;
  font-weight: 400;
}

.f4_figure {
  position: relative;
}

.f4_figure.advertVid {
  height: calc(720px / 7.5);
  @media screen and (min-width: 480px) {
    height: calc(720px / 6.5);
  }
  @media screen and (min-width: 768px) {
    height: calc(720px / 5.5);
  }
  @media screen and (min-width: 1024px) {
    height: calc(720px / 4);
  }
}

.f4_no-display {
  display: none;
}

figure {
  margin: 0;
  padding: 0;
}

.f4_module-resize--half {
  width: calc(1280px / 2);
  height: calc(720px / 2);
}

.f4_module-resize--third {
  width: 100%;
  height: calc(720px / 3.1);
}

.f4_module-resize-width--third {
  width: 100%;
}

.f4_module-resize--fourth {
  width: 100%;
  height: calc(720px / 4);
}

.f4_module-image--full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f4_module_link,
.f4_module_link:active,
.f4_module_link:visited {
  color: #000;
  text-decoration: none;
}

.f4_module_link--gray,
.f4_module_link--gray:active,
.f4_module_link--gray:visited {
  color: $darker;
  text-decoration: none;
}

.f4_module_link--white,
.f4_module_link--white:active,
.f4_module_link--white:visited {
  color: #fff;
  text-decoration: none;
}

.f4_header__block__logo a {
  color: #000;
  text-decoration: none;
}

.f4_title--line {
  display: flex;
  align-items: center;
  text-transform: capitalize;

  &::after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1px;
    flex: 1;
    margin: 0 0 0 1rem;
    background: #000;
  }
}

.f4_width_full {
  width: 100%;
}

.f4_module--one {
  background-color: $darkester_blue;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
    padding: 1.8rem 0;
  }
}

.f4_module--one--type1 {
  h1 {
    font-weight: 200;
    font-family: Montserrat, sans-serif;
  }
  .f4_module--one-article--right {
    display: flex;

    .f4_module--one-metas {
      width: 15%;
      margin-bottom: 1rem;
      padding: 0.2rem;

      h6 {
        margin: 0.5rem 0 0 0;
        font-size: 1.1rem;
        text-transform: uppercase;
      }
      small,
      time {
        font-size: 1rem;
        display: block;
        margin-top: 0.4rem;
      }

      li {
        margin-top: 0.3rem;
        text-transform: uppercase;

        a::before {
          content: '- ';
        }
      }
    }

    .f4_module--one-article--image {
      width: 50%;
      background-size: cover;
      background-position: top;
      min-height: 140px;
    }

    .f4_module--one-related {
      width: 35%;
      padding-left: 1rem;
      h2 {
        margin: 0;
        padding-bottom: 1rem;
      }

      .f4_module--one-related-list-item {
        font-size: 1.1rem;
        a::before {
          content: '- ';
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        margin: 1rem 0;
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}

.f4_module--one--type2 {
  .f4_module--one-article--second {
    display: flex;

    a {
      color: white;
      text-decoration: none;
    }

    .f4_module-resize--third {
      width: calc(1280px / 3.2);
      height: calc(720px / 3.2);
    }

    .f4_module--one-article--image--second {
      margin: 1rem 1rem 1rem 0.5rem;
    }

    .f4_module--one-article--right--second {
      flex: 2;
      padding: 1rem;
      word-break: break-word;

      h1 {
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 200;
        margin: 0;
        padding: 0;
        font-family: Montserrat, sans-serif;
      }

      .f4_module--one-article--right--second__except {
        font-size: 1.2rem;
      }

      .f4_module--one-metas--second {
        h6 {
          margin: 0.5rem 0 0 0;
          font-size: 1rem;
          text-transform: uppercase;
        }

        span {
          display: block;
        }
      }

      .f4_module--one-related--second {
        h2 {
          margin: 1rem 0;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            margin-top: 0.3rem;

            a::before {
              content: '- ';
            }
          }
        }
      }
    }
  }
}

.f4_module--one--type3 {
  article {
    position: relative;
  }

  figure {
    height: 280px;
  }

  h1 {
    padding-left: 1rem;
    font-weight: 200;
  }

  .articles-list--type3__meta {
    position: absolute;
    bottom: 0;
    .f4_title {
      a {
        font-weight: 200;
        letter-spacing: 1px;
        text-transform: none;
      }
    }
  }
}

.f4_module--one--type4 {
  .articles-list--type4 {
    display: flex;
    padding: 1.4rem 0.5rem;

    article {
      flex: 1;
      display: flex;
    }

    h2 {
      margin: 0;
      padding-bottom: 0.2rem;
      font-size: 1.1rem;
    }

    figure img {
      width: calc(1280px / 6);
      height: calc(720px / 6);
    }

    .articles-list--type4__meta {
      padding: 0 1rem;

      span {
        font-size: 0.7rem;
        padding-top: 0.3rem;
        display: block;
      }
    }
  }

  .articles-list--type4--mobile {
    padding: 1.5rem;
    display: none;
    overflow: hidden;
  }

  .articles-list--type4--mobile__metas {
    span {
      display: block;
      margin: 0.6rem 0;
    }
    h4 {
      margin: 0.5rem 0;
    }
  }
}

.f4_module--one--type5 {
  background-size: cover;

  .f4_module-resize--third {
    width: calc(1280px / 3.2);
    height: calc(720px / 3.2);
    position: relative;
  }

  .f4_module-wrap {
    display: flex;
    padding: 1rem 0.5rem;
  }

  .f4_module--one--type5__logo {
    padding-left: 2rem;
  }

  .f4_module--one--type5__cover {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-out;
  }

  .play-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    transform: translate(-50%, -50%);
    transition: all 0.1s linear;

    &:hover {
      width: 80px;
      height: 80px;
    }
  }

  #module-f5__figure {
    background: #000;
  }
}

.f4_module--one-related--second {
  .f4_title {
    color: white !important;
  }
}

@media only screen and (max-width: 1410px) {
  .f4_module--one--type5 {
    .f4_module-wrap {
      padding-left: 1.5rem;
    }

    .f4_module-resize--third {
      width: calc(1280px / 3.3);
      height: calc(720px / 3.3);
    }
  }
}

@media only screen and (max-width: 1150px) {
  .f4_module--one--type1 {
    padding: 1rem 1rem 0 1rem;

    .f4_module--one-article--right .f4_module--one-metas {
      width: 25%;
    }
  }

  .f4_module--one--type4 {
    .articles-list--type4 {
      h2 {
        font-size: 1.1rem;
      }

      figure img {
        width: calc(1280px / 12);
        height: calc(720px / 12);
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .f4_module--one--type4 {
    .articles-list--type4 {
      flex-flow: wrap;

      article {
        flex: inherit;
        flex-basis: 50%;
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .f4_module--one--type5 {
    .f4_module-resize--third {
      width: calc(1280px / 4.2);
      height: calc(720px / 4.2);
    }
  }
}

@media only screen and (max-width: 800px) {
  .f4_module--one--type2 {
    .f4_module--one-article--second {
      display: block;

      .f4_module-resize--third {
        margin: 0;
        padding: 1rem 1rem 0 1rem;
        width: 100%;
        height: auto;
      }
    }
  }

  .f4_module--one--type1 {
    .f4_module--one-article {
      padding: 1rem 1rem 0 1rem;
    }
  }
}

@media only screen and (max-width: 950px) {
  .f4_module--one--type4 {
    .articles-list--type4 {
      article {
        flex-basis: 100%;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .f4_module--one--type5 {
    .f4_module-wrap {
      display: block;
    }

    .f4_module--one--type5__logo {
      padding-left: 0;
      padding-top: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .f4_module--one--type1 {
    h1 {
      font-size: 1.4rem;
    }

    .f4_module--one-article--right {
      display: block;

      .f4_module--one-metas {
        width: 100%;

        h6 {
          margin: 0.5rem 0 0 0;
          font-size: 1.1rem;
          text-transform: uppercase;
        }
        small,
        time {
          font-size: 1rem;
          display: block;
          margin-top: 0.4rem;
        }
      }

      .f4_module--one-article--image {
        width: 100%;
        background-size: cover;
        background-position: center;
        min-height: 200px;
      }

      .f4_module--one-related {
        width: 100%;
        padding-left: 1rem;
        h2 {
          margin: 0;
          padding-bottom: 1rem;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 1rem 0;
          a {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .f4_module--one--type4 {
    .articles-list--type4 {
      display: none;
    }

    .articles-list--type4--mobile {
      display: block;
    }
  }

  .f4_module--one--type5 {
    .f4_module-wrap {
      padding: 1rem;
    }

    .f4_module-resize--third {
      width: 100%;
      height: auto;
    }

    #module-f5__figure {
      height: 210px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .f4_module--one--type2 {
    .f4_module--one-article--second {
      .f4_module--one-article--right--second h1 {
        font-size: 1.5rem;
      }
    }
  }
}

/**  Foros **/
.btn-selector {
  border-radius: 10em;
  border: 1px solid #c2c2c2;
  width: 92%;
  padding: 1em 0.75em;
  margin: 0 auto;
  box-shadow: 0 5px 10px #eee;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;

  span {
    display: block;
    cursor: pointer;
  }

  select {
    width: 100%;
    border: none;
    background: white;
    outline: none;
    font-size: 1rem;
    color: #23252d;
  }
}

#foro-salvador,
#foro-honduras {
  background-color: white;
}

.f4_module--two__foros {
  @media only screen and (max-width: 630px) {
    display: none;
  }
}

.f4_module--one__foros {
  padding-top: 1.5rem;
  @media only screen and (min-width: 630px) {
    display: none;
  }
}
