.mainsection--video {
  background: #23252d;
  color: white;
  padding: 2em 0;
  position: relative;
  .video-wrap {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .mainsection__title {
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0.6em;
    a {
      color: white;
    }
  }

  .featured__bg-image {
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out;
    width: 100%;
    background-position: 50%;
    background-size: cover;
  }

  .featured__bg-pattern {
    background-color: rgba(24, 23, 22, 0.45);
    background-image: url(https://i.forbesimg.com/assets/images/subtle-dots.png);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .arrow-btn {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: #181716;
    color: #ccc;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
  }

  .fs-icon {
    fill: currentColor;
    width: 24px;
  }

  .arrow--right {
    left: auto;
    right: 1em;
  }

  .glide__slide {
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    position: relative;
    height: calc(720px / 3);
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-size: auto;
      width: 65px;
      height: 65px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .video_list_youtube-wrapper {
    position: absolute;
    top: 0;
  }

  .video_list_title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0.6em;
    z-index: 99;
    position: absolute;
    bottom: 1.5em;
    width: 100%;
    a {
      text-align: center;
      color: white;
      font-size: 1.25rem;
    }
  }

  .video_list_author {
    width: 100%;
    position: absolute;
    bottom: 0.5em;
    display: inline-block;
    text-align: center;
  }

  .glide__slide.glide__slide--active {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }
}

.video_list_author a {
  color: white;
}

.video-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.video-holder__item {
  width: 100%;
  position: relative;
}

.video-holder__fig {
  width: 100%;
  position: relative;
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.video-holder__item h3 {
  font-size: 1rem;
  line-height: 1.25em;
}

.video-holder__item span {
  font-size: 0.75rem;
  padding-top: 0.75em;
  display: block;
}

@media screen and (min-width: 768px) {
  .mainsection--video {
    .arrow-btn {
      display: block;
    }
  }

  .video-holder__item {
    width: calc(1280px / 3.6);
    position: relative;
    padding: 0 0.5em;
    box-sizing: border-box;
  }

  .video-holder__fig {
    width: 100%;
    height: calc(720px / 3.6);
  }
}
