/*****
-- Visit Us!
--[https://dreamsengine.io]
--[https://dreams.agency]
--[https://devstate.de]
******/

.rwmb-image-select {
  width: 213.13px;
  height: auto;
}

#den_break_new,
label[for="den_break_new"] {
  display: block;
  width: 72px;
  border: 0;
  height: auto;
  opacity: 0.4;
}

#den_sidebarCheck,
label[for="den_sidebarCheck"] {
  display: none;
}

label[for="den_sidebarCheck"] img {
  max-width: 100%;
  height: 92px;
  object-fit: contain;
}

#den_select-layout .rwmb-image-select {
  opacity: 0.4;
}

#den_select-layout .rwmb-image-select.rwmb-active {
  opacity: 1;
}

#den_select-layout .rwmb-url-wrapper {
  display: none;
}

#den_select-layout .rwmb-oembed-wrapper {
  display: none;
}

#den_select-layout .rwmb-media-status,
#den_select-layout .rwmb-image_advanced-wrapper,
#den_select-layout .rwmb-radio-wrapper {
  display: none;
}

#onesignal_notif_on_post h2 span {
  position: relative;
  display: block;
  text-indent: -9999999em;
}

#onesignal_notif_on_post h2 span::before {
  content: "Dreams Push Notification";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  text-indent: 0;
}

.wgextra-add-grid {
  display: none;
  visibility: hidden;
}
